services:
  - type: web
    name: FaceShot-ChopShop-web
    env: node
    plan: free
    buildCommand: "cd frontend && npm install && npx vite build"
    startCommand: "node index.js"
    envVars:
      - key: PORT
        value: 3000
      - key: NODE_ENV
        value: production
      - key: SESSION_SECRET
        generateValue: true
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: STRIPE_WEBHOOK_SECRET
        sync: false
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: FRONTEND_URL
        sync: false
      - key: REACT_APP_BACKEND_URL
        sync: false
      - key: A2E_API_KEY
        sync: false
      - key: A2E_BASE_URL
        sync: false
